<div class="navBar">
  <app-nav-bar (nameChanged)="name=$event"></app-nav-bar>
</div>
<div class="mainMenu">
  <div class="ingredientsMenu">
    <div class="ingredientsWelcomeMessage">
      Hey {{name}}! set up your favourite ingredients here!
    </div>
    <div class="ingredientsMenuOfChoice">
      <app-ingredients></app-ingredients>
    </div>
  </div>

  <div class="orderInformations">
    <div class="ingredientsWelcomeMessage">
      Where should we deliver your tasty pizza?
    </div>
    <div class="orderSummary">
      <app-order-informations></app-order-informations>
    </div>
  </div>
</div>
